:root {
  --color-respengr-fuchsia: #FF00FF;
  --color-prappt-teal: #00FFFF;
  --color-aiboumos-purple: #8040C0;
  
  --color-bg-primary: #000000;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #CCCCCC;
}
